<div class="jumbotron">
    <h1>Defects</h1>
    <p class="lead">This system allows a mobile device (phone/tablet) to upload details and photos of defects that need to be addressed.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Manage Defects</h2>
        <p>This function allows you to view the defects that have been uploaded from the mobile devices.</p>
        <p>@Html.ActionLink("List of Defects","List")</p>
    </div>
</div>
